@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");

* { /* este fragmento de código se encarga de que no haya margenes ni rellenos en el body */
  padding: 0;
  margin: 0;
  margin-top: 10px;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif; /* se establece la fuente de la página */
}

h1, h2 {
  font-family: sans-serif; /* se establece la fuente de los títulos */
  font-weight: 400;
}

a {
  text-decoration: none; /* se elimina el subrayado de los enlaces */
}

li {
  list-style: none; /* se elimina la viñeta de las listas */
}

.flex {
  display: flex; /* se establece la propiedad flex */
}

.flex_space {
  /*fondo de color que contrasta con el fondo de la página*/
  
  display: flex;
  justify-content: space-between;
}




button {
  border: none;
  background: none;
  outline: none;
  transition: 0.5s;
  cursor: pointer;
}

.primary-btn {
  padding: 10px 20px;
  font-size: 16px;
  background: #7fc142; /* Color de fondo original */
  font-weight: bold;
  color: white;
  transition: 0.5s; /* Transición suave */
  border: 2px solid #080808; /* Borde sólido */
}

.primary-btn:hover {
  background: #669933; /* Nuevo color de fondo al pasar el cursor */
}


.secondary-btn {
  padding: 15px 40px;
  background: none;
  border: 2px solid white;
  font-weight: bold;
  color: white;
}

.container {
  max-width: 85%;
  margin: auto;
}

/*--------header---------*/
header {
  height: 10vh;
  line-height: 10vh;
  padding: 0 20px;
}

header img {
  margin: 20px 0;
}

header ul {
  display: inline-block;
}

header ul li {
  display: inline-block;
  text-transform: uppercase;
}

header ul li a {
  color: #000;
  margin: 0 10px;
  transition: 0.5s;
}

header ul li a:hover {
  color: #7fc142;
}

header i {
  margin: 0 20px;
}

header button {
  padding: 13px 40px;
}

header .navlinks span {
  display: none;
}

.logo img {
  border: 1px solid #7fc142;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  margin-top: auto;
  margin-left: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
  box-shadow: 0 0 0 2px #000; /* Borde delineado negro */
}

.logo-footer {

  /*reducir imagen a 50 %*/
  width: 50%;

  /*centrar imagen*/
  margin: 0 auto;

  /*margen superior*/

  margin-top: 20px;

  /*margen inferior*/ 

  margin-bottom: 20px;  


  /*margen izquierdo y derecho*/  

  margin-left: auto;

  margin-right: auto;

  /*ancho de la imagen*/
  

  

  
}


img[src="images/banner-1.png"] {
    margin-top: 10px; 
}

img[src="images/banner-2.png"] {
  margin-top: 10px; 
}

img[src="images/banner-3.png"] {
  margin-top: 10px; 
}

.text h1 {
  font-size: 2.5rem; /* Tamaño base para pantallas grandes */
}

.text p {
  font-size: 1rem; /* Tamaño base para el párrafo */
}

.gallery .owl-nav {
  position: absolute;
  top: 50%;
  width: 100%;
  transform: translateY(-50%);
  display: flex;
  justify-content: space-between;
}

.owl-item {
  width: 100%; /* Asegura que el elemento sea responsivo */
}



.img img {
  width: 100%; /* Hace que la imagen sea responsiva */
  height: auto; /* Mantiene la proporción de aspecto de la imagen */
}



@media only screen and (max-width:768px) {
  header ul {
    position: absolute;
    top: 100px;
    left: 0;
    width: 100%;
    height: 100vh;
    background: #009f7f;
    overflow: hidden;
    transition: max-height 0.5s;
    text-align: center;
    z-index: 9;
  }

  header ul li {
    display: block;
  }

  header ul li a {
    color: white;
  }

  header i {
    color: white;
  }

  header .navlinks span {
    color: black;
    display: block;
    cursor: pointer;
    line-height: 10vh;
    font-size: 25px;
  }
}

/*--------header---------*/
/*--------home---------*/
.home {
    height: 100vh;
    color: #fff;
}

.home img {
    width: 100%;
    height: 100vh;
}

.home .text {
    position: absolute;
    top: 35%;
    left: 5%;
}

.home .text h1 {
    font-size: 80px;
    font-family: serif;
    font-weight: 400;
}

.home p {
    margin: 10px 0; /* Ajustado a 10px en la parte superior */
}

.home button {
    margin-right: 20px;
}


.fa-chevron-right, .fa-chevron-left {
  color: #333; /* Cambia el color según tus necesidades */
  font-size: 20px; /* Ajusta el tamaño según tus necesidades */
}



.owl-nav .owl-prev,
.owl-nav .owl-next {
  position: absolute;
  top: 40%;
  height: 50px;
  width: 50px;
  background: rgba(0, 0, 0, 0.5) !important;
  color: #fff;
}

.owl-nav .owl-prev {
  left: 0; /* Ajusta al extremo izquierdo */
  top: 50%; /* Centra verticalmente */
  transform: translateY(-50%); /* Ajuste fino para centrar exactamente */
}

.owl-nav .owl-next {
  right: 0; /* Ajusta al extremo derecho */
  top: 50%; /* Centra verticalmente */
  transform: translateY(-50%); /* Ajuste fino para centrar exactamente */
}

/*--------home---------*/
/*--------book---------*/
.grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 20px;
}

input {
  outline: none;
  border: none;
  width: 100%;
}



.book {
  /*bajar el margen superior*/
  margin-top: 70px;
  padding: 40px 0;
  background: #282834;
  color: #fff;
  
}

h1 {
  font-family: serif;
}

.book h1 {
  font-size: 28px;
}

.book h1 span {
  color: #7fc142;
}

.book input {
  padding: 20px;
}

.book input:nth-last-child(1) {
  background: #7fc142;
  color: #fff;
}

/*--------book---------*/
/*--------about---------*/
.left, .right {
  width: 50%;
  padding: 30px;
}

.top {
  margin-top: 80px;
}

.mtop {
  margin-top: 40px;
}

.heading h1 {
  font-size: 100px;
  font-weight: 500;
  opacity: 0.1;
  font-family: serif;
  position: absolute;
  top: -30px;
}

.heading h2 {
  margin: 30px 0;
  font-size: 45px;
  font-family: serif;
  font-weight: 400;
}

.about .heading h1 {
  top: 55px;
}

.about {
  position: relative;
  margin-top: 1px;
}

.about .left {
  margin-top: 30px;
}

.about p {
  font-size: 15px;
}

.about button {
  margin: 30px 0;
}

/*--------about---------*/
/*--------counter---------*/
.counter {
  background-image: url("../images/background-1.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 30vh;
  width: 100%;
  color: #fff;
}

.counter .grid {
  grid-template-columns: repeat(4, 1fr);
  text-align: center;
  place-items: center;
  padding-top: 60px;
}

.counter h1 {
  font-size: 50px;
}

.counter hr {
  width: 50%;
  margin: 10px auto;
  background: #7fc142;
  height: 2px;
  border: none;
}

/*--------counter---------*/
/*--------rooms---------*/
.rooms {
  position: relative;
}

.rooms .text {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-top: none;
  padding: 30px;
}

.rooms i {
  font-size: 12px;
  color: #fbb234;
  margin: 15px 0;
  margin-right: 5px;
}

.rooms p {
  margin: 20px 0;
  opacity: 0.7;
}

.rooms h3 {
  font-size: 30px;
  line-height: 20px;
  margin-left: 20px;
  font-weight: 500;
  color: #7fc142;
}

.rooms h3 span {
  font-size: 15px;
  font-weight: 400;
  color: #000;
}

.owl-carousel1 {
  position: relative;
}



.owl-carousel1 .owl-nav .owl-prev,
.owl-carousel1 .owl-nav .owl-next {
  position: absolute;
  top: -25%;
  height: 50px;
  width: 50px;
  background: #7fc142 !important;
}

.owl-carousel1 .owl-nav .owl-prev i,
.owl-carousel1 .owl-nav .owl-next i {
  color: #fff;
}

.owl-carousel1 .owl-nav .owl-prev {
  position: absolute;
  left: 0; /* Ajusta al extremo izquierdo */
  top: -4%; /* Centra verticalmente */
  transform: translateY(-50%); /* Ajuste fino para centrar exactamente */
}

.owl-carousel1 .owl-nav .owl-next {
  position: absolute;
  right: 0; /* Ajusta al extremo derecho */
  top: -4%; /* Centra verticalmente */
  transform: translateY(-50%); /* Ajuste fino para centrar exactamente */
}

/*--------rooms---------*/
/*--------gallery---------*/
.gallery {
  position: relative;
}

.gallery img {
  width: 100%;
  height: 100%;
}

.gallery .img {
  position: relative;
}

.gallery .img::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(126, 193, 65, 0.86);
  width: 255px;
  height: 251px;
  z-index: 2;
  opacity: 0;
  transition: 0.5s;
}

.gallery .grid {
  grid-template-columns: repeat(2, 1fr);
}

.gallery .owl-nav button {
  margin: 0 10px; /* Ajusta el margen para evitar que los botones se peguen a los bordes */
}


.fa-chevron-right, .fa-chevron-left {
  color: #333; /* Cambia el color según tus necesidades */
  font-size: 20px; /* Ajusta el tamaño según tus necesidades */
}



.overlay {
  position: absolute;
  top: 35%;
  left: 25%;
  z-index: 3;
  text-align: center;
  color: white;
  opacity: 0;
  transition: 0.5s;
}

.gallery span {
  width: 50px;
  height: 50px;
  line-height: 50px;
  border-radius: 50%;
  text-align: center;
  border: 2px solid white;
}

.overlay h3 {
  margin-top: 20px;
  font-weight: 500;
  font-size: 16px;
}

.gallery .items:hover .overlay,
.gallery .items:hover .img::after {
  opacity: 1;
  cursor: pointer;
}

.gallery .owl-nav .owl-prev {
  left: 85%;
}

.gallery .owl-nav .owl-next {
  right: 5%;
}

.gallery .owl-nav .owl-next,
.gallery .owl-nav .owl-prev {
  top: -40%;
}

/*--------gallery---------*/
/*--------services---------*/
.services {
  position: relative;
}

.grid2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 30px;
}

.services .left {
  padding: 30px 0;
}

.services .box {
  border: 1px solid rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: 0.5s;
  padding: 20px;
}

.services .box .text {
  padding: 30px 0;
  border: 1px dashed #fff;
}

.services i {
  font-size: 50px;
  color: #7fc142;
  transition: 0.5s;
}

.services h3 {
  font-size: 20px;
  font-weight: 400;
  margin-top: 20p;
  transition: 0.5s;
}

.services img {
  width: 100%;
  height: 100%;
}

.services .box:hover {
  background: #7fc142;
  color: #fff;
  cursor: pointer;
}

.services .box:hover i,
.services .box:hover h3 {
  color: #fff;
}

/*--------services---------*/
/*--------Customer---------*/
.Customer {
  background-image: url("../images/background-2.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 70vh;
  width: 100%;
  color: #fff;
  text-align: center;
}

.Customer .container {
  max-width: 70%;
}

.Customer .item {
  padding: 10% 0;
}

.Customer i {
  width: 100px;
  height: 100px;
  background: rgba(126, 193, 64, 0.57);
  line-height: 100px;
  border-radius: 50%;
  font-size: 50px;
  margin-bottom: 50px;
}

.Customer p {
  line-height: 30px;
}

.Customer h3 {
  margin-top: 20px;
  color: #7fc142;
}

.Customer span {
  font-size: 15px;
}


.owl-carousel2 .owl-dots {
  position: absolute;
  bottom: 70px;
  left: 46.6%;
}

.owl-carousel2 .owl-dots i {
  color: #7fc142;
}

.owl-carousel2 .owl-dots i:hover button {
  color: #7fc142 !important;
}

.owl-carousel2 span {
  border: 2px solid #fff;
  background: transparent !important;
}

.owl-carousel2 .active span {
  background: #7fc142 !important;
  border: 2px solid #7fc142;
}

/*--------Customer---------*/
/*--------news---------*/


.newsletter {
  position: relative;
  margin-top: 50px; /* Ajustado de 1px a 50px para aumentar el espacio */
}



.newsletter .container {
  background: #7fc142;
  padding: 40px 30px;
  position: absolute;
  top: -70px;
  left: 8%;
  width: 100%;
}

.newsletter h1 {
  width: 100%;
  font-size: 30px;
  color: #fff;
  margin-top: 10px;
}

.newsletter input {
  padding: 20px;
}

.newsletter input:nth-last-child(2) {
  width: 80%;
  background: rgba(255, 255, 255, 0.4);
}

.newsletter input:nth-last-child(1) {
  margin-left: 20px;
  width: 30%;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
}


footer {
  background: #282834;
  color: #b6b7b9;
  padding: 10% 0 5% 0;
}

footer .grid {
  grid-template-columns: 6fr 3fr 3fr;
}

footer p {
  color: #b6b7b9;
  font-size: 15px;
  line-height: 25px;
}

footer .icon i {
  margin: 20px 20px 20px 0;
  color: #b6b7b9;
}

footer h2 {
  color: #fff;
  margin-bottom: 10px;
}

footer li {
  margin-bottom: 20px;
}

footer i {
  color: #7fc142;
  margin: 20px 0;
  margin-right: 20px;
}

footer label {
  margin: 20px 0;
}

.legal {
  padding: 15px 0;
  background: #282834;
  color: #b6b7b9;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}

/*--------footer---------*/
@media only screen and (max-width:768px) {
  .home {
    color: #fff;
    height: 50vh;
  }

  .home img {
    width: 100%;
    height: auto;
  }

  .left, .right {
    width: 100%;
  }

  .book h1 {
    margin-bottom: 20px;
  }

  .container.flex,
  .book .flex_space {
    flex-direction: column;
  }

 

  .home .text h1 {
    font-size: 60px; /* Ajusta el tamaño del texto para pantallas medianas */
    font-family: serif;
    font-weight: 400;
  }
  
  .home p {
    font-size: 14px; /* Ajusta el tamaño del párrafo para pantallas medianas */
    margin: 15px 0; /* Ajusta los márgenes según sea necesario */
  }


  
  
  .home button {
    margin-right: 10px;
  }


  .book .grid {
    grid-template-columns: repeat(3, 1fr);
  }

  .counter .grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .owl-carousel .owl-nav {
    width: 100%; /* Asegura que el contenedor de navegación ocupe todo el ancho */
    position: absolute; /* Posiciona el contenedor de navegación de forma absoluta */
    top: 50%; /* Centra verticalmente */
    transform: translateY(-50%); /* Ajusta la posición vertical para centrar las flechas */
  }
  
  .owl-carousel .owl-prev, .owl-carousel .owl-next {
    position: absolute; /* Posiciona las flechas de forma absoluta */
  }
  
  .owl-carousel .owl-prev {
    left: 0; /* Posiciona la flecha izquierda en el extremo izquierdo */
    z-index: 1000; /* Asegura que la flecha esté sobre otros elementos */
  }
  
  .owl-carousel .owl-next {
    right: 0; /* Posiciona la flecha derecha en el extremo derecho */
    z-index: 1000; /* Asegura que la flecha esté sobre otros elementos */
  }

  .gallery .owl-nav .owl-prev {
    left: 75%;
  }

  .rooms .owl-nav .owl-prev,
  .rooms .owl-nav .owl-next {
    top: -30%;
  }

  .gallery .owl-nav .owl-prev,
  .gallery .owl-nav .owl-next {
    top: -80%;
  }

  .services .flex_space {
    flex-direction: column;
  }

  .Customer {
    margin-top: 1px;
    background-image: url("../images/background-2.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 70vh;
    width: 100%;
    color: #fff;
    text-align: center;
  }

  .Customer .container {
    max-width: 80%;
  }

  .owl-carousel2 .owl-dots {
    bottom: 0;
    left: 44.5%;
  }

  .news .content.flex {
    flex-direction: column;
  }

  .news .left {
    padding: 30px 0;
    width: 100%;
  }

  .news .right {
    width: 100%;
  }

  .newsletter {
    position: relative;
    background: #7fc142;
  }

  .newsletter .container {
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 30px;
    position: relative;
  }

  .newsletter .flex_space {
    flex-direction: column;
  }

  .newsletter input:nth-last-child(2) {
    margin: 20px 0;
    width: 100%;
  }

  .newsletter input:nth-last-child(1) {
    margin: 0;
  }

  footer .grid {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (max-width: 480px) {

  .container.flex,
  .book .flex_space {
    flex-direction: column;
  }
  .home .text h1 {
    font-size: 40px; /* Ajusta el tamaño del texto para pantallas pequeñas */
    font-family: serif;
    font-weight: 400;
  }

  .home p {
    margin: 10px 0 20px 0; /* Aumenta el margen inferior para crear más espacio */
  }

  .home button {
    margin-right: 10px; /* Ajusta el margen derecho para los botones */
  }
  .book .grid {
    grid-template-columns: 1fr; /* Cambia a una sola columna para pantallas pequeñas */
  }
  /* Añade aquí más ajustes responsivos según sea necesario */
}

.item {
  max-width: 100%; /* Asegura que el elemento no exceda el ancho de la pantalla */
  padding: 20px; /* Añade algo de espacio alrededor del contenido */
  
}

.item i {
  font-size: 24px; /* Ajusta el tamaño del icono */
  margin-bottom: 20px; /* Añade espacio debajo del icono */
}

.item p {
  font-size: 16px; /* Ajusta el tamaño del texto del párrafo */
  line-height: 1.6; /* Mejora la legibilidad del texto */
}

.item h3, .item label {
  font-size: 20px; /* Ajusta el tamaño del texto para los títulos y etiquetas */
  margin-top: 20px; /* Añade espacio arriba de los títulos y etiquetas */
}

/* Media queries para ajustar el diseño en pantallas más pequeñas */
@media (max-width: 768px) {
  .item {
    padding: 10px; /* Reduce el espacio alrededor del contenido */
  }

  .item i {
    font-size: 20px; /* Reduce el tamaño del icono */
  }

  .item p {
    font-size: 14px; /* Reduce el tamaño del texto del párrafo */
  }

  .item h3, .item label {
    font-size: 18px; /* Reduce el tamaño del texto para los títulos y etiquetas */
  }
}